<div class="container">

  <p>
    <strong>Title:</strong>
    <%= @exhibition.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @exhibition.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @exhibition.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @exhibition.description %>
  </p>

  <%= link_to 'Edit', edit_exhibition_path(@exhibition) %> |
  <%= link_to 'Back', exhibitions_path %>
</div>