<% content_for(:title, 'Events')%>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<br>
<br>
<br>
<div class="container">
  <h2 class="page-title">Events</h2>
  <hr>
  <!-- Nav tabs -->
  <ul class="nav nav-pills gray" role="tablist">
    <li role="presentation" class="active"><a href="#current_upcoming" aria-controls="home" role="tab" data-toggle="tab">Current & Upcoming</a></li>
    <li role="presentation"><a href="#past" aria-controls="messages" role="tab" data-toggle="tab">Past</a></li>
  </ul>
  <br>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="current_upcoming">
      <% @current_and_upcoming_events.each do |event| %>
      <% if event.event_type == "Series" %>
        <div class="container-fluid gray-background">
          <div class="row">
            <div class="col-md-3">
              <%= link_to image_tag(event.event_thumbnail.url(:medium), class: "img-responsive img-border"), event %>
            </div>
            <div class="col-md-9 events-index-info">
              <div class="row events-text1">
                <p class="date"><%= event.start_date.try(:strftime, "%A, %B %e, %Y") %></p>
                <h2><%= link_to "#{event.title} - #{event.start_date.try(:strftime, "%B" )}", event %></h2>
                <br>
                <p><%= event.start_time.try(:strftime, "%l:%M %p") %> - <%= event.end_time.try(:strftime, "%l:%M %p") %></p>
              </div>
              <div class="row events-text2">
                <br>
                <br>
                <br>
                <br>
                 <p class="gallery-name"><strong><%= link_to 'Information Center', about_2nd_fridays_path %></strong></p>
                  <p class="gallery-address">1945 S. Halsted St.<br>
                  Chicago, IL 60608</p>
              </div>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col-md-3">
              <h4 class="align-right">Participating<br>Galleries</h4>
            </div>
            <div class="col-md-9">
              <% if event.galleries.any? %>
              <hr>
              <% event.galleries.each do |gallery| %>
                    <div class="col-md-2">
                      <div class="image-container">
                        <%= image_tag(gallery.thumbnail.url(:medium), class: "img-responsive same-size-img") %>
                        <div class="overlay">
                          <h6 class="text-overlay"><%= link_to gallery.gallery_name, gallery %></h6>
                        </div>
                      </div>
                    </div>
              <% end %>
              <% else %>
               <p>Participating Galleries will be announced soon!<br>
                Sign up for updates!</p>
                <div class="newsletter-signup-form"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sign Up for Newsletter</button>
                  </div> 
                  <br>
            <% end %>
            </div>
          </div><!-- end row -->
        </div>

        <% else %>
          <div class="row events-information">
            <div class="col-md-2 ">
              <%= link_to image_tag(event.event_thumbnail.url(:medium), class: "img-responsive margin border"), event %>
            </div>
            <div class="col-md-10">
              <p><%= event.start_date.try(:strftime, "%A, %B %e, %Y") %></p>
              <p><%= event.start_time.try(:strftime, "%l:%M %p") %> - <%= event.end_time.try(:strftime, "%l:%M %p") %></p> 
              <h3><%= link_to event.title, event %></h3>
              <br>
              <% if event.event_type != "Series" %>
                <% event.galleries.each do |gallery| %>
                  <h5><%= link_to gallery.gallery_name, gallery %><br>
                  <%= gallery.address %></h5>
                <% end %>
              <% end %>
            </div>
          </div><!-- end row -->
        <% end %>
        <hr>
      <% end %>


  </div><!-- end tab panel -->

    <div role="tabpanel" class="tab-pane" id="past">
      <% @past_events.each do |event| %>
        <% if event.event_type == "Series" %>
        <div class="container-fluid gray-background">
          <div class="row">
            <div class="col-md-3">
              <%= link_to image_tag(event.event_thumbnail.url(:medium), class: "img-responsive img-border"), event %>
            </div>
            <div class="col-md-9 events-index-info">
              <div class="row events-text1">
                <p class="date"><%= event.start_date.try(:strftime, "%A, %B %e, %Y") %></p>
                <h2><%= link_to "#{event.title} - #{event.start_date.try(:strftime, "%B" )}", event %></h2>
                <br>
                <p><%= event.start_time.try(:strftime, "%l:%M %p") %> - <%= event.end_time.try(:strftime, "%l:%M %p") %></p>
              </div>
              <div class="row events-text2">
                <br>
                <br>
                <br>
                <br>
                 <p class="gallery-name"><strong><%= link_to 'Information Center', about_2nd_fridays_path %></strong></p>
                  <p class="gallery-address">1945 S. Halsted St.<br>
                  Chicago, IL 60608</p>
              </div>
            </div>
          </div>
          <br>
          <div class="row">  
            <div class="col-md-3">
              <h4 class="align-right">Participating<br>Galleries</h4>
            </div>
            <div class="col-md-9">
              <% if event.galleries.any? %>
              <hr>
              <% event.galleries.each do |gallery| %>
                    <div class="col-md-2">
                      <div class="image-container">
                        <%= image_tag(gallery.thumbnail.url(:medium), class: "img-responsive same-size-img") %>
                        <div class="overlay">
                          <h6 class="text-overlay"><%= link_to gallery.gallery_name, gallery %></h6>
                        </div>
                      </div>
                    </div>
              <% end %>
              <% else %>
               <p>Participating Galleries will be announced soon!<br>
                Sign up for updates!</p>
                <div class="newsletter-signup-form"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sign Up for Newsletter</button>
                  </div> 
                  <br>
            <% end %>
            </div>
          </div><!-- end row -->
        </div>
        <% else %>
          <div class="row events-information">
            <div class="col-md-2 ">
            <% if event.event_thumbnail.present? %>
              <%= link_to image_tag(event.event_thumbnail.url(:medium), class: "img-responsive margin border"), event %>
            <% end %>
            </div>
            <div class="col-md-10">
              <span class="events-date"><%= event.start_date.try(:strftime, "%A, %B %e, %Y") %></span>
              <p class="events-time"><%= event.start_time.try(:strftime, "%l:%M %p") %> - <%= event.end_time.try(:strftime, "%l:%M %p") %></p> 
              <h3 class="event-name"><%= link_to event.title, event %></h3>
              <br>
              <% if event.event_type != "Series" %>
                <% event.galleries.each do |gallery| %>
                  <h5><%= link_to gallery.gallery_name, gallery %><br>
                  <%= gallery.address %></h5>
                <% end %>
              <% end %>
            </div>
          </div><!-- end row -->
        <% end %>
        <hr>
      <% end %>
      </div>
    </div><!-- end tab panel -->
  </div><!-- end tab content -->
  <p class="text-center">
  <% if admin_signed_in? %>
  <%= link_to 'Create New Event', new_event_path, class: "btn btn-warning" %>

  <h2>Import Events</h2>
  
    <%= form_tag import_events_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>

    <p>
    Download: 
    <%= link_to "CSV", events_path(format: "csv") %> |
    <%= link_to "Excel", events_path(format: "xls") %>
    </p>

  <% end %>
</p>

</div>


<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


