<% content_for(:title, 'Events')%>
<br>
<br>
<br>
<div class="container">
  <h2 class="page-title">Events</h2><br>
  <hr>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Current</button>
    <button type="button" class="btn btn-default">Upcoming</button>
    <button type="button" class="btn btn-default">Past</button>
  </div>
</div>

<br>
<br>

<!-- Third Container (Grid) -->
<div class="container bg-3">
  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("design-project.jpg", class: "img-responsive margin border", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">In Like a Lamb, Out Like a Lion</h5>
          <p class="exhibitions-date">MARCH 10 - March 24, 2017</p>
          <h6 class="gallery-name">Design Project</h6>
          <p class="gallery-address">1932 S. Halsted St. #509<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("Heppner_Post.jpg", class: "img-responsive ", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">MARCH 10 - April 14, 2017</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("Tolchin_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">MARCH 10 - April 18, 2017</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("Adam_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("corsei.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("great-lakes-home.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("tower.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-exhibitions">
        <%= image_tag("Yaou_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    

  </div>
</div>

<div class="container bg-3">
  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-events">
        <%= image_tag("2nd-fridays-logo-with-hours.jpg", class: "img-responsive margin border", style: "width:100%" ) %>
        <div class="caption events-text">
          <h5 class="events-name">2nd Fridays Gallery Night - April 2017</h5>
            <p class="events-date">MARCH 10, 2017</p>
          <p class="events-time">6:00 PM - 10:00 PM</p>
          
          <p class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-events">
        <%= image_tag("Heppner_Post.jpg", class: "img-responsive ", style: "width:100%" ) %>
        <div class="caption events-text">
          <h5 class="events-name">2nd Fridays Gallery Night - April 2017</h5>
          <p class="events-date">MARCH 10, 2017</p>
          <p class="events-time">6:00 PM - 10:00 PM</p>
          <p class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-events">
        <%= image_tag("Tolchin_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption events-text">
          <h5 class="events-name">2nd Fridays Gallery Night - April 2017</h5>
          <p class="events-date">MARCH 10, 2017</p>
          <p class="events-time">6:00 PM - 10:00 PM</p>
          <p class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail thumbnail-events">
        <%= image_tag("Adam_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption events-text">
          <h5 class="events-name">2nd Fridays Gallery Night - April 2017</h5>
          <p class="events-date">MARCH 10, 2017</p>
          <p class="events-time">6:00 PM - 10:00 PM</p>
          <p class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">events</h1>
      <hr>
    </div>
  </div>

  <div class="row event">
    <div class="col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-1 ">
      <%= link_to 'Current', events_path(current_events: true) %><br>
      <%= link_to 'Upcoming', events_path(upcoming_events: true) %><br>
      <%= link_to 'Past', events_path(past_events: true) %>
      <hr>
      <%= link_to 'All', events_path %><br>



      <br>
      <% if admin_signed_in? %>
      <%= link_to 'New Event', new_event_path, class: "btn btn-default" %>
    <% end %>
    </div>

    <!-- LIST THE EVENTS -->
    <div class="col-sm-10 col-md-8">
      <div class="row event">
        <% @events.each do |event| %>
        <div class="col-xs-12 col-sm-3 col-md-3">
              <%= link_to image_tag(event.event_thumbnail.url(:small), class: "img-responsive aspect"), event %>
        </div><!-- end col -->
        <div class="col-xs-12 col-sm-9 col-md-9">
          <h3><%= link_to event.title, event %></h3>
          <strong><%= event.gallery.try(:gallery_name) %></strong><br>
            <%= event.gallery.try(:address) %><br>
            <br>
            <h4 class="uppercase">
              <%= event.start_date.try(:strftime, "%e %B %Y") %> 
              <% if event.end_date > event.start_date %>
                - <%= event.end_date.try(:strftime, "%e %B %Y") %>
              <% end %>
            </h4>
            <p class="text-justify"><% if event.description.length > 255 %>
              <%= truncate(event.description, length: 255) %>
              <%= link_to 'more...', '', class: "read-more-#{event.id}" %>
              <script>
                $('.read-more-<%= event.id %>').on('click', function(e) {
                  e.preventDefault()
                  $(this).parent().html('<%= escape_javascript event.description %>')
                })
              </script>
            <% else %>
              <%= event.description %>
            <% end %></p>
            <% if admin_signed_in? %>
              <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            
          </div><!-- end col -->
        <% end %>
        <hr>
      </div>
    </div><!-- end row -->

  </div>
  
  <br>
  <p class="text-center">
    <% if admin_signed_in? %>
      <%= link_to 'New Event', new_event_path, class: "btn btn-default" %>
    <% end %>
  </p>
</div>


