<% content_for(:title, 'Events')%>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<br>
<br>
<br>
<div class="container">
  <h2 class="page-title">Events</h2><br>
  <hr>
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to 'Upcoming', events_path(upcoming_events: true), class: "btn btn-default" %>
    <%= link_to 'Past', events_path(past_events: true), class: "btn btn-default" %>
    <%= link_to 'All', events_path, class: "btn btn-default" %>
  </div>
</div>

<br>
<br>

<div class="container bg-3">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm-3">
        <div class="thumbnail thumbnail-events">
          <%= link_to image_tag(event.event_thumbnail.url(:medium), class: "img-responsive margin border"), event %>
          <div class="caption events-text">
            <h5 class="events-name"><%= link_to event.title, event %></h5>
              <p class="events-date"><%= event.start_date.try(:strftime, "%B %e, %Y") %></p>
            <p class="events-time"><%= event.start_time.try(:strftime, "%l:%M %p") %> - <%= event.end_time.try(:strftime, "%l:%M %p") %></p>
            
            <p class="gallery-name"><%= link_to event.gallery.try(:gallery_name), event.gallery %></h6>
            <p class="gallery-address"><%= event.gallery.try(:address) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <br>
  <p class="text-center">
    <% if admin_signed_in? %>
      <%= link_to 'New Event', new_event_path, class: "btn btn-default" %>
    <% end %>
  </p>
</div>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


