<div class="container">
  <h2 class="page-title"></h2><br>
  <hr>

    <div class="row">
      <div class="col-sm-6">
        <h1><%= @event.title %></h1>
        <h4 class="uppercase">
          <%= @event.start_date.try(:strftime, "%B %e") %>
          <% if @event.end_date > @event.start_date %>
            - <%= @event.end_date.try(:strftime, "%B %e, %Y") %>
          <% end %>
        </h4>
        <p><strong><%= @event.date_info %></strong></p>
        <p><%= markdown(@event.description) %></p><br>
        <br>
      </div>
      <div class="col-sm-6">
        <div id="myCarousel-events" class="carousel slide" data-interval="false" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="myCarousel-events" data-slide-to="0" class="active"></li>
            <li data-target="myCarousel-events" data-slide-to="1"></li>
            <li data-target="myCarousel-events" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag("design-project.jpg", class: "img-responsive same-size-img") %>
            </div>
            <div class="item">
              <%= image_tag("tower.jpg", class: "img-responsive same-size-img") %>
            </div>
            <div class="item">
              <%= image_tag("xavier-nuez2-square.jpg", class: "img-responsive same-size-img") %>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel-events" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel-events" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- End Carousel -->
      </div><!-- End col-sm-6 -->
    </div><!-- End Row -->

<br>
<br>

  <!-- Third Container (Grid) -->
  <div class="row">
    <div class="col-sm-6">
      <h3 class="page-title">Participating Galleries</h3>
      <br>
      <hr>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
          <div class="overlay">
            <div class="text-overlay">DesignProject</div>
          </div>
        </div>
      </div>

      
    </div>
  </div>



    <!-- Third Container (Grid) -->
  <div class="row">
    <div class="col-sm-6">
      <h3 class="page-title">Participating Galleries</h3><br>
      <hr>
      <div class="col-sm-4">
        <div class="thumbnail thumbnail-galleries">
          <%= image_tag("design-project.jpg", class: "img-responsive margin border", style: "width:100%" ) %>
          <div class="caption exhibitions-text">
            <h6 class="gallery-name">DesignProject </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail thumbnail-galleries">
          <%= image_tag("Heppner_Post.jpg", class: "img-responsive ", style: "width:100%" ) %>
          <div class="caption exhibitions-text">
            <h6 class="gallery-name">Studio Oh! Center</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail thumbnail-galleries">
          <%= image_tag("Tolchin_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
          <div class="caption exhibitions-text">
            <h6 class="gallery-name">Xavier Nuez</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail thumbnail-galleries">
          <%= image_tag("Adam_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
          <div class="caption exhibitions-text">
            <h6 class="gallery-name">Elko Hardwoods</h6>        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail thumbnail-galleries">
          <%= image_tag("great-lakes-home.jpg", class: "img-responsive", style: "width:100%" ) %>
          <div class="caption exhibitions-text">
            <h6 class="gallery-name">Chicago Art Dept. (CAD)</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail thumbnail-galleries">
          <%= image_tag("tower.jpg", class: "img-responsive", style: "width:100%" ) %>
          <div class="caption exhibitions-text">
            <h6 class="gallery-name"> La Kaiser</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail thumbnail-galleries">
          <%= image_tag("Yaou_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
          <div class="caption exhibitions-text">
            <h6 class="gallery-name">SK Kitchen Design</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


    <br>
    <br>
    <p>
      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_event_path(@event) %> |
      <% end %>
      <%= link_to 'All Events', events_path %>
    </p>
    <br>
    <br>
</div>
