<div class="container">
  <hr>
    <div class="row">
      <div class="col-md-6 col-xs-6-push">
        <div id="myCarousel-events" class="carousel slide" data-interval="false" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="myCarousel-events" data-slide-to="0" class="active"></li>
            <li data-target="myCarousel-events" data-slide-to="1"></li>
            <li data-target="myCarousel-events" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag(@event.event_thumbnail.url(:medium), class: "img-responsive same-size-img") %>
            </div>
            <div class="item">
              <%= image_tag(@event.event_thumbnail.url(:medium), class: "img-responsive same-size-img") %>
            </div>
            <div class="item">
             <%= image_tag(@event.event_thumbnail.url(:medium), class: "img-responsive same-size-img") %>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel-events" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel-events" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- End Carousel -->
      </div><!-- End col-sm-6 -->
      <% if @event.exhibition %>
        <div class="col-md-6 col-xs-6-pull event-show-info">
          <p class="page-title">EVENT</p><br>
          <h2><%= @event.title %>:<em></h2><h3><%= link_to @event.exhibition.try(:title), @event.exhibition %></em></h3>
            <p class="date-info"><%= @event.start_date.try(:strftime, "%A, %B %e, %Y") %>
            
              - <%= @event.end_date.try(:strftime, "%B %e, %Y") %>
            
         <br><%= @event.start_time.try(:strftime, "%l:%M %p") %> - <%= @event.end_time.try(:strftime, "%l:%M %p") %></p>

          <h4><%= link_to @event.exhibition.gallery.try(:gallery_name), @event.exhibition.gallery %><br>
          <%= @event.exhibition.gallery.try(:address) %></h4>
          <br><br>

          <h4>Event Description</h4>
          <p><%= markdown(@event.description) %></p>
          <br>
          <h4>About the Exhibition</h4>
            <p><%= @event.exhibition.description %></em></p>
          <br>
        </div>
      </div><!-- End Row -->
      <% else %>


        <!-- Third Container (Grid) -->
        <div class = "container">
        <div class="row">
            <h3 class="page-title">Participating Galleries</h3>
            <br>
            <hr>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("design-project.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <h6 class="text-overlay">DesignProject</h6>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("xavier-nuez2-square.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <h6 class="text-overlay">Xavier Nuez</h6>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("la-kaiser.png", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <div class="text-overlay">La Kaiser</div>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("Palliative-endeavour2-square.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <div class="text-overlay">SK Kitchen Design</div>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("scroll2-square.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <div class="text-overlay">Mary Lou Stewart</div>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("Adam_CAD.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <div class="text-overlay">Zoe Rain</div> 
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("dark-by-design.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <div class="text-overlay">Dark by Design</div>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="image-container">
                <%= image_tag("MelissaCarloline_banner.jpg", class: "img-responsive img-overlay", style: "width:100%" ) %>
                <div class="overlay">
                  <div class="text-overlay">Chicago Art Dept.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      <br>
      <br>
    <p class="text-center">
      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_event_path,class: "btn btn-warning" %>
      <% end %>
        <%= link_to 'All Events', events_path, class: "btn btn-primary"  %>
      <% if admin_signed_in? %>
        <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </p>
    <br>
    <br>
</div>
