<br>
<br>
<br>






<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">events</h1>
      <hr>
    </div>
  </div>

<div class="row event">
    <div class="col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-1 ">
      <%= link_to 'Current', events_path(current_events: true) %><br>
      <%= link_to 'Upcoming', events_path(upcoming_events: true) %><br>
      <%= link_to 'Past', events_path(past_events: true) %>
      <hr>
      <%= link_to 'All', events_path %><br>
    </div>
    <div class="col-md-9 ">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('2nd-fridays-logo-with-hours.png', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>2nd Friday Gallery Night</h3>
          <h5>FRIDAY, MARCH 10, 2017<br>6:00 PM - 10:00 PM</h5>
          <br>
          <p>Opening night for many of the Chicago Art District Galleries.</p>
          <br>
          <h5>Multiple Galleries & Exhibitions</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('Kevin_post.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>Artist Talk, moderated by Paul Klein</h3>
          <h5>SUNDAY, MARCH 12, 2017<br>3:00 PM</h5>
          <br>
          <p>Paul Klein will moderate a talk with artists, Charles Heppner and Gunjan Kumar related to their current exhibition, "What Lies Beneath," on display from March 10th through March 24th.</p>
          <br>
          <h5>Chicago Art Department - East<br>
            1932 S Halsted St. #100<br>
            Chicago, IL 60608</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('2nd-fridays-logo-with-hours.png', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>2nd Friday Gallery Night</h3>
          <h5>FRIDAY, APRIL 14, 2017<br>6:00 PM - 10:00 PM</h5>
          <br>
          <p>Opening night for many of the Chicago Art District Galleries.</p>
          <br>
          <h5>Multiple Galleries & Exhibitions</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('2nd-fridays-logo-with-hours.png', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>2nd Friday Gallery Night</h3>
          <h5>FRIDAY, MAY 12, 2017<br>6:00 PM - 10:00 PM</h5>

          <p>Opening night for many of the Chicago Art District Galleries.</p>
          <h5>Multiple Galleries & Exhibitions</h5>
        
        </div>
      </div>
      <hr>

    </div>
  </div>