<br>
<br>
<br>






<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">events</h1>
      <hr>
    </div>
  </div>

<div class="row event">
    <div class="col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-1 ">
      <%= link_to 'Current', events_path(current_events: true) %><br>
      <%= link_to 'Upcoming', events_path(upcoming_events: true) %><br>
      <%= link_to 'Past', events_path(past_events: true) %>
      <hr>
      <%= link_to 'All', events_path %><br>
    </div>
    <div class="col-md-9 ">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('2nd-fridays-logo-with-hours.png', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3><%= link_to "2nd Friday Gallery Night", pages_events_path %></h3>
          <h5>FRIDAY, MARCH 10, 2017<br>6:00 PM - 10:00 PM</h5>
          <br>
          <p>Opening night for many of the Chicago Art District Galleries. This is our monthly gallery opening night, not to be missed!</p>
          <br>
          <h5>Multiple Galleries & Exhibitions<br>
            Info Center at 1945 S. Halsted St.</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('Palliative-endeavour2-square.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>SK Kitchen Design Opens with Art by Tulika Ladsariya</h3>
          <h5>FRIDAY, MARCH 10, 2017<br>6:00 PM - 10:00 PM</h5>
          <h5>(Part of 2nd Friday Gallery Night-March)</h5>
          <br>
          <p>SK Kitchen Design opens its doors for the first time! Stop by to check out paintings on display by Tulika Ladsariya. Food and drinks will be served.</p>
          <br>
          <h5>SK Kitchen Design<br>
            1932 S. Halsted St., #508</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('Lisa_CAD.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>Opening Reception: Aspects of the Whole</h3>
          <h5>FRIDAY, MARCH 10, 2017<br>6:00 PM - 10:00 PM</h5>
          <h5>(Part of 2nd Friday Gallery Night-March)</h5>
          <br>
          <p>Within nature and humanity exists necessary elements that contribute to a sustainable structure. Featuring artists: Adam Lofbomm, Otto Rascon, Lisa Stefaniak, and Robert Tolchin. Food and beverages provided at 2nd Fridays with a fundraiser for SkyART.</p>
          <br>
          <h5>Studio Oh!<br>
            1837 S. Halsted St.</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('Heppner_Post.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>Opening Reception: What Lies Beneath</h3>
          <h5>FRIDAY, MARCH 10, 2017<br>6:00 PM - 10:00 PM</h5>
          <h5>(Part of 2nd Friday Gallery Night-March)</h5>
          <br>
          <p>What Lies Beneath” explores the elemental forces within the process of creation. Charles and Gunjan explore this concept both in light of eastern philosophies and modern day physics. Charles’ paintings are inspired by String Theory while Gunjan will be taking inspirations from the eastern philosophies of non- duality to explore certain aspects of creation and their unifying nature. She will be creating works using turmeric, oyster shell powder, malachite, graphite and other organic material. In extension to her works, the show also features her collaborative installations with Landscape Artist, Kevin Benham, on the same theme.</p>
          <br>
          <h5>Chicago Art Department - East<br>
            1932 S. Halsted St., #100</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('Kevin_post.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>Artist Talk, moderated by Paul Klein</h3>
          <h5>SUNDAY, MARCH 12, 2017<br>3:00 PM</h5>
          <br>
          <p>Paul Klein will moderate a talk with artists, Charles Heppner and Gunjan Kumar related to their current exhibition, "What Lies Beneath," on display from March 10th through March 24th.</p>
          <br>
          <h5>Chicago Art Department - East<br>
            1932 S Halsted St. #100<br>
            Chicago, IL 60608</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('2nd-fridays-logo-with-hours.png', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>2nd Friday Gallery Night</h3>
          <h5>FRIDAY, APRIL 14, 2017<br>6:00 PM - 10:00 PM</h5>
          <br>
          <p>Opening night for many of the Chicago Art District Galleries.</p>
          <br>
          <h5>Multiple Galleries & Exhibitions</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('2nd-fridays-logo-with-hours.png', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>2nd Friday Gallery Night</h3>
          <h5>FRIDAY, MAY 12, 2017<br>6:00 PM - 10:00 PM</h5>

          <p>Opening night for many of the Chicago Art District Galleries.</p>
          <h5>Multiple Galleries & Exhibitions</h5>
        
        </div>
      </div>
      <hr>

    </div>
  </div>