<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">2nd Friday Gallery Night</h1>
      <hr>
      <h2>March 10, 2017</h2>

    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Participating Galleries</h3>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag('Lisa_CAD.jpg', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="#">Studio Oh!:</a></h5>
              <h5 class="exhibtion_name"><a href="#">Aspects of the Whole</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag('Heppner_Post.jpg', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="/pages/exhibition">Chicago Art Department - East:</a></h5>
              <h5 class="exhibtion_name"><a href="#">What Lies Beneath</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail thumbnail-no-border">
            <%= image_tag('MelissaCarloline_banner.jpg', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="#">Chicago Art Department - West:</a></h5>
              <h5 class="exhibtion_name"><a href="#">When Words Fail Us</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag('temple2-square.jpg', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="#">TEMPLE Gallery:</a></h5>
              <h5 class="exhibtion_name"><a href="#">Improv with PosterchildArt</a></h5>
            </div>
          </div>
        </div>
        <!-- Add clearfix for only the required viewport -->
    <div class="clearfix visible-lg"></div>


        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag('kaiser.png', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="#">La Kaiser:</a></h5>
              <h5 class="exhibtion_name"><a href="#">Handmade Jewelry</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag('tower.jpg', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="#">DESIGNPROJECT:</a></h5>
              <h5 class="exhibtion_name"><a href="#">Sears Tower Inquiry</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag('Bryan-Sperry-2016_1.jpg', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="#">Bryan Sperry Studio:</a></h5>
              <h5 class="exhibtion_name"><a href="#">Warriors of the Apocolypse</a></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag('IMG_89461-square.jpg', class: "img-responsive") %>
            <div class="caption caption-2nd-friday">
              <h5 class="gallery_name"><a href="#">SK Kitchen Design:</a></h5>
              <h5 class="exhibtion_name"><a href="#">Art by Tulika Ladsariya</a></h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
   
  <br>
  <p class="text-center">
    <% if admin_signed_in? %>
      <%= link_to 'New Event', new_event_path, class: "btn btn-default" %>
    <% end %>
  </p>
</div>
