<br>
<br>
<br>






<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">exhibitions</h1>
      <hr>
    </div>
  </div>




<div class="row event">
    <div class="col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-1 ">
      <%= link_to 'Current', events_path(current_events: true) %><br>
      <%= link_to 'Upcoming', events_path(upcoming_events: true) %><br>
      <%= link_to 'Past', events_path(past_events: true) %>
      <hr>
      <%= link_to 'All', events_path %><br>
    </div>
    <div class="col-md-9 ">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('Adam_CAD.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>MAR 9 - APR 27, 2017</h3>
          <h4>Aspects of the Whole</h4>
          <p>Within nature and humanity exists necessary elements that contribute to a sustainable structure. Featuring artists: Adam Lofbomm, Otto Rascon, Lisa Stefaniak, and Robert Tolchin. Food and beverages provided at 2nd Fridays with a fundraiser for SkyART.</p>
          <h5>Studio Oh!</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('WhatLiesBeneath_Banner.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>MAR 10 - MAR 24, 2017</h3>
          <h4>What Lies Beneath</h4>
          <p>“What Lies Beneath” explores the elemental forces within the process of creation. Charles and Gunjan explore this concept both in light of eastern philosophies and modern day physics. Charles’ paintings are inspired by String Theory while Gunjan will be taking inspirations from the eastern philosophies of non- duality to explore certain aspects of creation and their unifying nature. She will be creating works using turmeric, oyster shell powder, malachite, graphite and other organic material. In extension to her works, the show also features her collaborative installations with Landscape Artist, Kevin Benham, on the same theme.</p>
          <h5>Chicago Art Department - East</h5>
        </div>
      </div>
       <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('MelissaCarloline_banner.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h3>MAR 10 - MAR 24, 2017</h3>
          <h4>WHEN WORDS FAIL US</h4>
          <p>“When words fail us”, a two-person exhibition featuring new works by Melissa Bradley and Caroline Liu, who explore the relationship between physical and sublime.</p>
          <h5>Chicago Art Department - West</h5>
        </div>
      </div>
       <hr>
  
    </div>
  </div>


  <p class="text-center">
    <% if admin_signed_in? %>
      <%= link_to 'New Event', new_event_path, class: "btn btn-default" %>
    <% end %>
  </p>
</div>

