<% content_for(:title, 'Home')%>
<div class="jumbotron jumbotron-home">

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    <div class="row">
      <h1 class="text-center">WHERE PEOPLE MEET ART</h1>
      <h2 class="text-center">Next 2nd Friday Art Walk <br>
        Friday, December 9th, 2016</h2>
      <p class="text-center">
         <%= link_to "Learn More", pages_second_fridays_path, class: "btn btn-danger btn-lg sharp" %></p>
         <br>
         <br>
    </div>
  </div> 
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <%= image_tag("map-nov-16.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h2>Visiting this month's art walk?</h2>
      <div class="row">
        <div class="col-md-2">
          <h1><span class="glyphicon glyphicon-home"></span></h1>
        </div>
        <div class="col-md-10">
          <br>
          <p class="lead">Stop by the <%= link_to "Information Center", pages_second_fridays_path %> at 1945 S Halsted in Chicago to get a map.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h1><span class="glyphicon glyphicon-download"></span></h1>
        </div>
        <div class="col-md-10">
          <br>
          <p class="lead">Or download a map now by clicking the map image to the left.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h1><span class="glyphicon glyphicon-envelope"></span></h1>
        </div>
        <div class="col-md-10">
          <br>
          <p class="lead">Sign up to be notified about future art walks and other upcoming events.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="jumbotron home-second">
    <div class="container">
      <div class="row">
        <h2 class="text-center">About the Chicago Arts District</h2>
        <br>
        <div class="col-md-8 col-md-offset-2">
          <p class="lead text-center">The Chicago Arts District encompasses several contiguous blocks of lofts, studios and retail spaces for artists, gallerists, and creative individuals. Every 2nd Friday of the month, the galleries of the Chicago Arts District invite the public to view new and exciting exhibitions. There is something for everyone here in the Chicago Arts District, from the traditional mediums of painting, photography, and sculpture to avant garde fashion, installation and video art, just to name a few!</p>
         
        <p class="lead text-center">
          <%= link_to "List of Galleries", galleries_path, class: "btn btn-primary btn-lg sharp" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h2 class="text-center"><u>01</u><h2>
        <h1 class="text-center"><span class="glyphicon glyphicon-globe"></span><br></h1>
        <h2 class="text-center">Get a Map</h2>
        <p class="lead text-center">Stop by the <%= link_to "Information Center", pages_second_fridays_path %> or download a map now.<br>
          <br>
          <a class="btn btn-danger btn-lg" href="http://podmajersky.com/wp-content/uploads/2016/09/September-2016-Map.pdf" target="_blank" role="button">Download Map</a></p>
    </div>
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h2 class="text-center"><u>02</u><h2>
        <h1 class="text-center"><span class="glyphicon glyphicon-eye-open"></span><br></h1>
        <h2 class="text-center">View Art</h2>
        <p class="lead text-center">Come to Pilsen East to enjoy a self-guided art walk!<br>
          <br>
          <%= link_to "List of Galleries", galleries_path, class: "btn btn-danger btn-lg" %></p>
    </div>
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h2 class="text-center"><u>03</u><h2>
        <h1 class="text-center"><span class="glyphicon glyphicon-envelope"></span></br></h1>
        <h2 class="text-center">Sign Up for Updates</h2>
        <p class="lead text-center">Receive updates about upcoming art walks & events.<br>
          <br>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
            Sign Up for Updates
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up for Updates</h4>
                </div>
                <div class="modal-body">
                    <iframe src="https://app.e2ma.net/app2/audience/signup/1355398/1354401/" width="500" height="400" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </p>
    </div>
  </div>




          