<% content_for(:title, 'Home')%>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-home-first">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 hidden-xs">
        <div class="text-box">
          <h2>Upcoming 2nd Fridays Gallery Night</h2>
          <h3>Friday, July 14th, 2017 | 6pm - 10pm</h3>
          <button class="btn btn-primary-outine-inverse" type="submit">Learn More</button></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
      <h2>Upcoming 2nd Fridays Gallery Night</h2>
      <h3>Friday, July 14th, 2017 | 6pm - 10pm</h3>
      <button class="btn btn-primary" type="submit">Learn More</button></span>
      <br>
      <br>
      <br>
      <hr>
  </div>
</div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>About the Chicago Arts District</h1>
    </div>
    <div class="col-md-8">
      <!-- 4:3 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VGdiwhpp24E"></iframe>
      </div>
    </div>  
  </div>
</div>
<br>
<br>
<br>

<div class="exhibitions-background">
  <div class="container exhibitions-container">
    <h1>Current & Upcoming Exhibitions</h1>
    <div class="container exhibitions-scroll">

      <div id="myCarousel2" class="carousel slide" data-interval="false" data-ride="carousel">
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @exhibitions.each_with_index do |exhibition, index| %>
            <div class="item <%= index == 0 ? 'active' : '' %>">
              <div class="row exhibitions-row">
                <div class="col-xs-12 col-md-6 col-sm-6 exhibitions-image">
                  <%= link_to image_tag(exhibition.exhibition_thumbnail.url(:medium), class: "img-responsive pull-right"), exhibition %>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6 exhibitions-info">
                  <div class="row">
                    <p class="exhibitions-date-home">
                      <% if exhibition.end_date > Date.today + 4.month %>
                        Ongoing
                      <% elsif %>
                        <%= exhibition.start_date.try(:strftime, "%b, %e %Y") %> - <%= exhibition.end_date.try(:strftime, "%b, %e %Y") %>
                      <% end %>
                      </p>
                    <h3 class="exhibitions-name"><%= link_to exhibition.title, exhibition %></h3>
                    <p class="exhibitions-text"><%= truncate exhibition.description, length: 550 %>
                    <p><%= link_to 'About the Exhibition', exhibition, class: "btn btn-primary-outine-inverse" %></p>
                    </p>
                  </div>
                  <div class="row gallery-info">
                    <h6 class="gallery-name"><%= link_to exhibition.gallery.gallery_name, exhibition.gallery %></h6>
                    <p class="gallery-address"><%= exhibition.gallery.address %><br>
                      <%= exhibition.gallery.city %>, <%= exhibition.gallery.state %> <%= exhibition.gallery.zip %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>    
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control exhibitions-control" href="#myCarousel2" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control exhibitions-control" href="#myCarousel2" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- End Carousel -->
    </div>
      <p class="text-center"><%= link_to "View All Exhibitions", exhibitions_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>
<!-- End Carousel of Upcoming Exhibitions -->
<!-- Carousel of Upcoming Events -->
<div class="events-background">
  <div class="container events-container">
    <h1>Current & Upcoming Events</h1>
    <div class="container events-scroll">

      <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @events.each_with_index do |event, index| %>
            <div class="item <%= index == 0 ? 'active' : '' %>">
            <div class="row events-row">
              <div class="col-xs-12 col-md-6 col-sm-6 events-image">
                <% if event.event_thumbnail.present? %>
                <%= link_to image_tag(event.event_thumbnail.url(:medium), class: "img-responsive pull-right"), event %>
                <% else %>
                <%= link_to image_tag(event.exhibition.exhibition_thumbnail.url(:medium), class: "img-responsive pull-right"), event %>
              <% end %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 events-info">
                <div class="row">
                  <div class="col-md-6 no-padding-left">
                    <p class="events-date"><%= event.start_date.try(:strftime, "%A, %b %e, %Y") %></p>
                    <p class="events-time"><%= event.start_time.try(:strftime, "%l:%M %p") %> - <%= event.end_time.try(:strftime, "%l:%M %p") %></p>
                  </div>
                  <div class="col-md-6 no-padding-right">
                    <%= link_to image_tag('2nd-fridays-link.jpg', height: '100', alt: '2nd Fridays'), events_path, title: '2nd Fridays', title: '2nd Fridays', rel: 'tooltip', relative: true, class: "pull-right" %>
                  </div> 
                </div>
                <div class="row">
                  <br>
                  <h3 class="events-name"><%= link_to event.title, event %><% if event.exhibition %>
                    <span class="small-text">for</span> 
                      <%= link_to event.exhibition.title, event.exhibition %>
                    <% end %></h3>
                  <p class="events-text"><%= truncate event.description, length: 400 %></p>
                  
                 <p><%= link_to 'About the Event', event, class: "btn btn-primary" %>
                 <% if event.exhibition %>
                   <%= link_to 'About the Exhibition', event.exhibition, class: "btn btn-primary-outline" %></p>
                  <% end %>
                </div>
                <div class="row gallery-info">
                  <% if event.exhibition %>
                    <h6 class="gallery-name"><%= link_to event.exhibition.gallery.try(:gallery_name), event.exhibition.gallery %></h6>
                    <p class="gallery-address">
                      <%= event.exhibition.gallery.address %><br>
                      <%= event.exhibition.gallery.city %>, <%= event.exhibition.gallery.state %> <%= event.exhibition.gallery.zip %></p>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% if @events.count > 1 %>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        <% end %>
      </div><!-- End Carousel -->
    </div>
      <p class="text-center"><%= link_to "View All Events", events_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>
<!-- End Carousel of Upcoming Exhibitions -->

<br>
<br>

<div class="jumbotron home-second">
  <div class="container">
    <div class="row">
      <h2 class="text-center">About the Chicago Arts District</h2>
      <br>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center">The Chicago Arts District encompasses several contiguous blocks of lofts, studios and retail spaces for artists, gallerists, and creative individuals. Every 2nd Friday of the month, the galleries of the Chicago Arts District invite the public to view new and exciting exhibitions. There is something for everyone here in the Chicago Arts District, from the traditional mediums of painting, photography, and sculpture to avant garde fashion, installation and video art, just to name a few!</p>
       
      <p class="lead text-center">
        <%= link_to "List of Galleries", galleries_path, class: "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>
</div>
   
        </p>
    </div>
  </div>
</div>

<div class="container-fluid bottom-stripe">
  <div class="stay-connected">
    <div class="row">
      <div class="col-sm-6">
        <h4>Follow Us</h4>
        <div class="socials">
          <a href="https://www.facebook.com/chicagoartsdist" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/chicagoartsdist" target="_blank"><i class="fa fa-twitter"></i></a> 
          <a href="https://www.instagram.com/chicagoartsdistrict/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-sm-6 line">
        <h4>Get Updates</h4>
        <div class="newsletter-signup-form"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Sign Up for Newsletter
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>




          