<% content_for(:title, 'Home')%>
<div class="overlay">
<div class="jumbotron jumbotron-home"><!-- begin jumpotron -->
  <div class="container">
      <h1 class="text-center">WHERE PEOPLE MEET ART</h1>
      <h2 class="text-center">Next 2nd Friday Art Walk <br>
        Friday, March 10th, 2017</h2>
      <p class="text-center">
         <%= link_to "Learn More", pages_second_fridays_path, class: "btn btn-primary-outline btn-lg sharp" %></p>
    </div>
  </div>
  </div> <!-- end jumpotron -->

  <br>
  <br>
  <br>


  <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= link_to image_tag('tower.jpg', width: '175', height: '175', class: "img-circle"), events_path %>
          <h4>Current Exhibitions</h4>
          <p>Download a map now, or stop by the information booth for a map of the upcoming 2nd Fridays Gallery Night art walk.</p>
          <p><%= link_to "View Details", events_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag('artwalk3-square.jpg', width: '175', height: '175', class: "img-circle") %>
          <h4>Plan a Visit</h4>
          <p>Download a map now, or stop by the information booth for a map of the upcoming 2nd Fridays Gallery Night art walk.</p>
          <p><%= link_to "View Details", pages_second_fridays_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag('CAD-about-square.jpg', width: '175', height: '175', class: "img-circle") %>
          <h4>Sign Up for Updates</h4>
          <p>Once a month we send out a newsletter with a program for the upcoming 2nd Fridays Gallery Night.</p>
          <p><!-- Button trigger modal -->
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            View Details
          </button></p>
          <br>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up for Newsletter</h4>
                </div><!-- end modal-header -->
                <div class="modal-body">
                    <iframe src="https://app.e2ma.net/app2/audience/signup/1355398/1354401/" width="500" height="400" frameborder="0"></iframe>
                </div><!-- end modal-body -->
              </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
          </div><!-- end modal fade -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">Upcoming Events<span class="text-muted"></span></h3>
        <br>
          <h2 class="featurette-heading">2nd Fridays Gallery Night<span class="text-muted"></span></h2>
        <br>
          <h4>March 10, 2017, 6:00 PM - 10:00 PM</h4>
        <br>
          <p class="lead">The 2nd Friday of each month, The Chicago Arts District hosts 2nd Fridays Gallery Night, a monthly opening reception at all of the galleries and artists' studios centered around South Halsted Street, beginning at 1711 and ending at 2005 South Halsted Street in Chicago.</p>
        <br>
          <p class="gallery-info">Chicago Arts District<br> -Information Center - <br>
          1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('art-square-small.jpg', class: "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h3 class="featurette-heading">Upcoming Exhibitions<span class="text-muted"></span></h3>
        <br>
          <h2 class="featurette-heading">John Yaou<span class="text-muted"></span></h2>
        <br>
          <h4>JANUARY 10 - February 10, 2017</h4>
        <br>
          <p class="lead">This body of work by painter John Yaou focuses on the culture and impact of the rise of graphiti art. On display through February 15th. Receptions Friday, January 13th, from  6-10pm and Friday, February 10th, form 6-10pm. </p>
        <br>
          <p class="gallery-info">Studio Oh! Gallery<br>
            1833 S. Halsted St.<br>
            Chicago, IL 60608</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= image_tag('Yaou_CAD.jpg', class: "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">New Galleries</h3>
        <br>
          <h2 class="featurette-heading">La Kaiser<span class="text-muted"></span></h2>
        <br>
          <p class="lead">I'm a Swiss native, born and raised in Zimbabwe and now living the "American dream" in the windy city of Chicago. Life has been an adventure to say the least! My Swiss roots bring me back to Zurich often to visit family and I can't help myself from being inspired by the picturesque village settings, lush green pastures and pristine mountain tops and lakes. </p>
        <br>
          <p class="gallery-info">La Kaiser<br>
            1932 S Halsted St., #501<br>
          Chicago, IL 60608</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('kaiser.png', class: "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div>

  <div class="container" style="margin:20px;"> <!-- start group of images -->
        <div class=" col-sm-12 row">
            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                    <div class="caption">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                    <div class="caption">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="col-sm-12 thumbnail text-center">
                    <img alt="" class="img-responsive" src=
                    "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg">

                    <div class="caption">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end group of images -->
    <br>
    <br>

<!-- begin carousel -->
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
    <li data-target="#mycarousel" data-slide-to="3"></li>
    <li data-target="#mycarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item">
        <%= image_tag('CAD-6.jpg') %>
        <div class="carousel-caption">
            <h3>First Image</h3>
        </div>
    </div>
   <div class="item">
        <%= image_tag('CAD-3.jpg') %>
        <div class="carousel-caption">
            <h3>Third Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag('CAD-4.jpg') %>
        <div class="carousel-caption">
            <h3>Fourth Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag('CAD-5.jpg') %>
        <div class="carousel-caption">
            <h3>Fifth Image</h3>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- end carousel -->
<br>
<br>
<br>




  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <%= link_to 'https://s3-us-west-2.amazonaws.com/cadimages/February-2017-Map.pdf', target:'_blank' do %>
        <%= image_tag 'map-nov-16.jpg', class: 'img-responsive' %>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>Visiting this month's art walk?</h3>
      <div class="row">
        <div class="col-md-2">
          <h1><span class="glyphicon glyphicon-home"></span></h1>
        </div>
        <div class="col-md-10">
          <br>
          <p class="lead">Stop by the <%= link_to "Information Center", pages_second_fridays_path %> at 1945 S Halsted in Chicago to get a map.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h1><span class="glyphicon glyphicon-download"></span></h1>
        </div>
        <div class="col-md-10">
          <br>
          <p class="lead">Or <%= link_to 'download a map now', ' https://s3-us-west-2.amazonaws.com/cadimages/February-2017-Map.pdf', target: "_blank" %>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h1><span class="glyphicon glyphicon-envelope"></span></h1>
        </div>
        <div class="col-md-10">
          <br>
          <p class="lead"><%= link_to "Sign up to be notified", "#", data: {toggle: "modal", target: "#myModal"} %> about future art walks and other upcoming events.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="jumbotron home-second">
    <div class="container">
      <div class="row">
        <h2 class="text-center">About the Chicago Arts District</h2>
        <br>
        <div class="col-md-8 col-md-offset-2">
          <p class="lead text-center">The Chicago Arts District encompasses several contiguous blocks of lofts, studios and retail spaces for artists, gallerists, and creative individuals. Every 2nd Friday of the month, the galleries of the Chicago Arts District invite the public to view new and exciting exhibitions. There is something for everyone here in the Chicago Arts District, from the traditional mediums of painting, photography, and sculpture to avant garde fashion, installation and video art, just to name a few!</p>
         
        <p class="lead text-center">
          <%= link_to "List of Galleries", galleries_path, class: "btn btn-primary btn-lg sharp" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h2 class="text-center"><u>01</u><h2>
        <h1 class="text-center"><span class="glyphicon glyphicon-globe"></span><br></h1>
        <h4 class="text-center">Get a Map</h4>
        <p class="lead text-center">Stop by the <%= link_to "Information Center", pages_second_fridays_path %> or download a map now.<br>
          <br>
          <a class="btn btn-danger btn-lg" href="http://podmajersky.com/wp-content/uploads/2016/09/September-2016-Map.pdf" target="_blank" role="button">Download Map</a></p>
    </div>
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h2 class="text-center"><u>02</u><h2>
        <h1 class="text-center"><span class="glyphicon glyphicon-eye-open"></span><br></h1>
        <h4 class="text-center">View Art</h4>
        <p class="lead text-center">Come to Pilsen East to enjoy a self-guided art walk!<br>
          <br>
          <%= link_to "List of Galleries", galleries_path, class: "btn btn-danger btn-lg" %></p>
    </div>
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h2 class="text-center"><u>03</u><h2>
        <h1 class="text-center"><span class="glyphicon glyphicon-envelope"></span></br></h1>
        <h4 class="text-center">Sign Up for Updates</h4>
        <p class="lead text-center">Receive updates about upcoming art walks & events.<br>
          <br>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
            Sign Up for Updates
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up for Updates</h4>
                </div>
                <div class="modal-body">
                    <iframe src="https://app.e2ma.net/app2/audience/signup/1355398/1354401/" width="500" height="400" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </p>
    </div>
  </div>

  <script>
  var $item = $('.carousel .item'); 
  var $wHeight = $(window).height();
  $item.eq(0).addClass('active');
  $item.height($wHeight); 
  $item.addClass('full-screen');

  $('.carousel img').each(function() {
    var $src = $(this).attr('src');
    var $color = $(this).attr('data-color');
    $(this).parent().css({
      'background-image' : 'url(' + $src + ')',
      'background-color' : $color
    });
    $(this).remove();
  });

  $(window).on('resize', function (){
    $wHeight = $(window).height();
    $item.height($wHeight);
  });

  $('.carousel').carousel({
    interval: false,
    pause: "false"
  });
  </script>




          