<div class="row">
  <%= form_for @gallery, html: { class: 'form-horizontal' } do |f| %>
    <% if @gallery.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

        <ul>
        <% @gallery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="control-group">
      <%= f.label :gallery_name, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :gallery_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :address, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :city, class: 'control-label'%><br>
      <div class="controls">
        <%= f.text_field :city %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :state, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :state %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :zip, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :zip %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :phone, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :phone %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :website, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :website %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :email, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :owner_operator, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :owner_operator %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :medium, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_area :medium %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :hours, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_area :hours %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :thumbnail, class: 'control-label' %><br />
      <div class="controls">
        <%= f.file_field :thumbnail  %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :current, class: 'control-label' %><br />
      <div class="controls">
        <%= f.check_box :current  %>
      </div>
    </div>

    <br>

    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>


  </div>
  <br>
</div>
