<% content_for(:title, 'Galleries')%>
<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">galleries</h1>
      <hr>
    </div>
  </div>

  

  <br>
  <br>
  <div class="row gallery">
    <div class="col-md-10 col-md-offset-1">
      <% @galleries.each do |gallery| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="icon">
            <div class="img">
              <%= link_to image_tag(gallery.thumbnail.url(:medium), class: "img-responsive aspect"), gallery %>
              <div class="caption">
                <h4 class="text-center"><%= link_to gallery.gallery_name, gallery %></h4>
                
                <h6 class="text-center"><%= gallery.address %></h6>
                  <h6 class="text-center"><em><%= gallery.medium %></em></h6><hr>
                </div>
            </div> 
          </div>
        </div>
      <% end %>
    </div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="map_container">
      <div id="map_canvas" class="map_canvas"></div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map_canvas'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

      // adds the users current location based on browser GPS
        function addCurrentLocation() {

          function displayOnMap(position){
            var marker = handler.addMarker({
              lat: position.coords.latitude,
              lng: position.coords.longitude,
              picture: {
                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                width:  36,
                height: 36
              },
              infowindow: "This is you!"
            });
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            // handler.map.centerOn(marker);
          };

          if(navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(displayOnMap);  
          }

        }

        addCurrentLocation();
  </script>

<p class="text-center">
  <% if admin_signed_in? %>
    <%= link_to 'New Gallery', new_gallery_path, class: "btn btn-default" %></p>
    <% end %>
</div><!-- end container -->