<% content_for(:title, 'Galleries')%>
<br>
<br>
<br>

<div class="container">
  <h2 class="page-title">Galleries</h2><br>
  <hr>


  <br>
  <br>
  <div class="row">
      <% @galleries.each do |gallery| %>
        <div class="col-sm-3">
          <div class="thumbnail thumbnail-galleries">
            <%= link_to image_tag(gallery.thumbnail.url(:medium), class: "img-responsive aspect"), gallery %>
            <div class="caption gallery-text">
              <h5 class="gallery-name"><%= link_to gallery.gallery_name, gallery %></h5>
              <p class="gallery-address"><%= gallery.address %></p>
              <hr>
              <p class="gallery-medium"><%= gallery.medium %></p>
            </div>
          </div> 
          <br>   
        </div>

      <% end %>
      <br>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<p class="text-center">
  <% if admin_signed_in? %>
    <%= link_to 'New Gallery', new_gallery_path, class: "btn btn-default" %></p>
    <% end %>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="row gallery">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
      <% @galleries.each do |gallery| %>
        <div class="col-md-4 col-lg-4">
          <div class="icon">
            <%= link_to image_tag(gallery.thumbnail.url(:medium), class: "img-responsive aspect"), gallery %>
            <div class="caption caption-2">
              <h4 class="text-center"><%= link_to gallery.gallery_name, gallery %></h4>

              <h6 class="text-center"><%= gallery.address %></h6>
              <hr>
              <h6 class="text-center"><em><%= gallery.medium %></em></h6>

            </div>
               
          </div> 
          <br>
          <br>   
        </div>

      <% end %>
      
    </div>
  </div>



<!-- Third Container (Grid) -->
<div class="container bg-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail thumbnail-galleries">
        <%= image_tag("design-project.jpg", class: "img-responsive margin border", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">In Like a Lamb, Out Like a Lion</h5>
          <p class="exhibitions-date">MARCH 10 - March 24, 2017</p>
          <h6 class="gallery-name">Design Project</h6>
          <p class="gallery-address">1932 S. Halsted St. #509<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail thumbnail-galleries">
        <%= image_tag("Heppner_Post.jpg", class: "img-responsive ", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">MARCH 10 - April 14, 2017</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail thumbnail-galleries">
        <%= image_tag("Tolchin_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">MARCH 10 - April 18, 2017</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail thumbnail-galleries">
        <%= image_tag("Adam_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail thumbnail-galleries">
        <%= image_tag("great-lakes-home.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail thumbnail-galleries">
        <%= image_tag("tower.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail thumbnail-galleries">
        <%= image_tag("Yaou_CAD.jpg", class: "img-responsive", style: "width:100%" ) %>
        <div class="caption exhibitions-text">
          <h5 class="exhibitions-name">What Lies Beneath</h5>
          <p class="exhibitions-date">Ongoing</p>
          <h6 class="gallery-name">Information Center</h6>
          <p class="gallery-address">1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
        </div>
      </div>
    </div>
    

  </div>
</div>






  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="row gallery">
      <% @galleries.each do |gallery| %>
        <div class="col-sm-4">
          <div class="icon icon-1">
            <%= link_to image_tag(gallery.thumbnail.url(:medium), class: "img-responsive aspect"), gallery %>
            <div class="caption caption-1">
              <h4 class="text-center"><%= link_to gallery.gallery_name, gallery %></h4>
              <h6 class="text-center"><%= gallery.address %></h6>
              <h6 class="text-center"><em><%= gallery.medium %></em></h6>
            </div>
          </div> 
          <br>   
        </div>

      <% end %>
      <br>
  </div>
  



 





<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="map_container">
      <div id="map_canvas" class="map_canvas"></div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map_canvas'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

      // adds the users current location based on browser GPS
        function addCurrentLocation() {

          function displayOnMap(position){
            var marker = handler.addMarker({
              lat: position.coords.latitude,
              lng: position.coords.longitude,
              picture: {
                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                width:  36,
                height: 36
              },
              infowindow: "This is you!"
            });
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            // handler.map.centerOn(marker);
          };

          if(navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(displayOnMap);  
          }

        }

        addCurrentLocation();
  </script>


</div><!-- end container -->


<script type="text/javascript">
$(document).ready(function(){
$screensize = $(window).width();
    if ($screensize > 1199) {
        $(".item-layout > .clearfix").remove();
        $('.item-layout .item:nth-child(3n)').after('<span class="clearfix visible-lg-block"></span>');
    }
    if ($screensize < 1199) {
        $(".item-layout > .clearfix").remove();
        $('.item-layout .item:nth-child(3n)').after('<span class="clearfix visible-lg-block visible-md-block"></span>');
    }
    if ($screensize < 991) {
        $(".item-layout > .clearfix").remove();
        $('.item-layout .item:nth-child(3n)').after('<span class="clearfix visible-lg-block visible-sm-block"></span>');
    }
$( window ).resize(function() {
    $screensize = $(window).width();
    if ($screensize > 1199) {
        $(".item-layout > .clearfix").remove();
        $('.item-layout .item:nth-child(2n)').after('<span class="clearfix visible-lg-block"></span>');
    } 
    if ($screensize < 1199) {
        $(".item-layout > .clearfix").remove();
        $('.item-layout .item:nth-child(2n)').after('<span class="clearfix visible-lg-block visible-md-block"></span>');
    }
    if ($screensize < 991) {
        $(".item-layout > .clearfix").remove();
        $('.item-layout .item:nth-child(2n)').after('<span class="clearfix visible-lg-block visible-sm-block"></span>');
    }
    if ($screensize < 767) {
        $(".item-layout > .clearfix").remove();
    }
});
});
</script>
