<div class="container">
  <hr>
  <p class="page-title">GALLERY</p><br>

  <div class="row">
    <div class="col-sm-6">
      <h1 class="display-1"><%= @gallery.gallery_name %></h1>
        <p class="lead-text"><em><%= @gallery.medium %></em></p><br>
        
        <%= @gallery.address %><br>
        <%= @gallery.city %>, <%= @gallery.state %> <%= @gallery.zip %><br>
        <%= @gallery.phone %><br>
        <br>
        <%= link_to "Visit Website", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <%= link_to "Email Gallery", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <br>
        <br>
        <p><%= markdown(@gallery.description) %></p><br>
        <p>Owner/Operator: <%= @gallery.owner_operator %></p>
    </div>
    <div class="col-sm-6">
      <%= image_tag(@gallery.thumbnail.url(:medium), class: "img-responsive") %>
    </div>
  </div>
  <br>
  <br>
</div>

<div class="container">
  <% if @gallery.exhibitions.any? %>
    <div class="row">
      <h2>Exhibitions</h2>
      <% @gallery.exhibitions.each do |exhibition| %>
        <div class="col-sm-3">
          <div class="thumbnail">
            <%= image_tag(exhibition.exhibition_thumbnail.url(:small), class: "img-responsive", width: "100%") %>
            <div class="caption">
              <h3><%= link_to exhibition.title, exhibition %><br></h3>
              <p><%= exhibition.start_date.try(:strftime, "%B %e") %> - 
          <%= exhibition.end_date.try(:strftime, "%B %e, %Y") %></p>
              <p><%= link_to 'About Exhibition', exhibition, class: "btn btn-primary" %>
              <a href="#" class="btn btn-default" role="button">Related Events</a></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <% if admin_signed_in? %>
        <p>This Gallery has not had an exhibition yet. Click below to schedule an exhibition.</p>
      <% end %>
    </div>
  <% end %>
  <br>
  <% if admin_signed_in? %>
    <%= link_to "Add New Exhibition", new_exhibition_path(gallery_id: @gallery) %>
  <% end %>
</div>
  

<p class="text-center">
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_gallery_path(@gallery),class: "btn btn-warning" %>
  <% end %>
    <%= link_to 'All Galleries', galleries_path, class: "btn btn-primary" %>
  <% if admin_signed_in? %>
      <%= link_to 'Delete', @gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
</p>
</p>

