    <div class="container">
      <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-6">
      <p class="page-title">Gallery</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag(@gallery.thumbnail.url(:medium), class: "img-responsive") %>
    </div>
    <div class="col-md-5">
      
      <h1><%= @gallery.gallery_name %></h1>
        <p class="lead-text"><em><%= @gallery.medium %></em></p><br>
      <% if @gallery.current == true %>
        <h4><%= @gallery.address %><br>
        <%= @gallery.city %>, <%= @gallery.state %> <%= @gallery.zip %><br>
        <%= @gallery.phone %></h4>
        <br>
        <br>
        <h5><strong>Owner/Operator:</strong></h5>

        <%= @gallery.owner_operator %>
        <br>
        <h5><strong>Hours:</strong></h5>

          <%= markdown(@gallery.hours) %>
      <% else %>
        <h3>Gallery Alumni </h3>
      <% end %>
        
  
    </div>
  </div><!-- end row-->
  <br>
  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1"> 
      <h2>About</h2>
      <p><%= markdown(@gallery.description) %></p>
      <br>
      <br>
      <p>
      <%= link_to "Visit Website", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <%= link_to "Email Gallery", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
      </p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container gray-background">
  <h2>Exhibitions</h2>

      <!-- Nav tabs -->
      <ul class="nav nav-pills gray" role="tablist">
        <li role="presentation" class="active"><a href="#current" aria-controls="home" role="tab" data-toggle="tab">Current & Upcoming</a></li>
        <li role="presentation"><a href="#past" aria-controls="profile" role="tab" data-toggle="tab">Past</a></li>

      </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="current">
      <% if @upcoming_exhibitions.any? %>
        <% @upcoming_exhibitions.each do |exhibition| %>
        <hr>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <%= image_tag(exhibition.exhibition_thumbnail.url(:small), class: "img-responsive", width: "100%") %>
            </div>
            <div class="col-md-6">
              <p class="date">
                <% if exhibition.end_date > Date.today + 4.month %>
                  Ongoing
                <% else %> 
                  <%= exhibition.start_date.try(:strftime, "%B %e") %> - <%= exhibition.end_date.try(:strftime, "%B %e, %Y") %>
                <% end %>
              </p>
              <h3><%= link_to exhibition.title, exhibition %><br></h3>
              <p><%= truncate exhibition.description, length: 675 %></p>
              <p><%= link_to 'More About Exhibition', exhibition, class: "btn btn-primary" %>
            </div>
          </div><!-- end row -->
      
        <% end %>
      <% else %> 
        <div class="row">
          <div class="col-md-8">
            <br>
            <br>
            <h4>There are no upcoming exhibitions scheduled at this time.</h4>
            <br>
            <br>
          </div>
        </div><!-- end row -->
      <% end %>
    </div><!-- end tabpanel -->

    <div role="tabpanel" class="tab-pane" id="past">
      <% if @past_exhibitions.any? %>
        <% @past_exhibitions.each do |exhibition| %>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <%= image_tag(exhibition.exhibition_thumbnail.url(:small), class: "img-responsive", width: "100%") %>
            </div>
            <div class="col-md-7">
              <p><%= exhibition.start_date.try(:strftime, "%B %e") %> - 
              <%= exhibition.end_date.try(:strftime, "%B %e, %Y") %></p>
              <h3><%= link_to exhibition.title, exhibition %><br></h3>
              <p><%= truncate exhibition.description, length: 675 %></p>
              <p><%= link_to 'More About Exhibition', exhibition, class: "btn btn-primary" %>
            </div>
          </div><!-- end row -->
        
        <% end %>
      <% else %>
        <div class="row">
          <div class="col-md-8">
            <br>
            <br>
            <h4>There have been no past exhibitions.</h4>
            <br>
            <br>
          </div>
        </div><!-- end row -->
      <% end %>
    </div><!-- end tabpanel -->

  </div><!-- end tab-content -->
    <p>
      <% if admin_signed_in? %>
        <br>
        <br>
        <%= link_to "Add New Exhibition", new_exhibition_path(gallery_id: @gallery), class: "btn btn-warning" %>
        <br>
        <br>
      <% end %>
    </p>
</div><!-- end container -->
  
<br>
<br>
<p class="text-center">
  <% if admin_signed_in? %>
  <%= human_boolean@gallery.current %>
    <%= link_to 'Edit', edit_gallery_path(@gallery),class: "btn btn-warning" %>
  <% end %>
    <%= link_to 'All Galleries', galleries_path, class: "btn btn-primary" %>
  <% if admin_signed_in? %>
      <%= link_to 'Delete', @gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
</p>
</p>

