<div class="container">
  <hr>
  <p class="page-title">GALLERY</p><br>

  <div class="row">
    <div class="col-sm-6">
      <h1 class="display-1"><%= @gallery.gallery_name %></h1>
        <p class="lead-text"><em><%= @gallery.medium %></em></p><br>
        
        <%= @gallery.address %><br>
        <%= @gallery.city %>, <%= @gallery.state %> <%= @gallery.zip %><br>
        <%= @gallery.phone %><br>
        <br>
        <%= link_to "Visit Website", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <%= link_to "Email Gallery", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <br>
        <br>
        <p><%= markdown(@gallery.description) %></p><br>
        <p>Owner/Operator: <%= @gallery.owner_operator %></p>
    </div>
    <div class="col-sm-6">
      <%= image_tag(@gallery.thumbnail.url(:medium), class: "img-responsive") %>
    </div>
  </div>
  <br>
  <br>

  <div class="panel-group">
        <div class="panel panel-gray">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">Gallery Events <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
              <% @gallery.events.each do |event| %>
              <li class="list-group-item"><b><%= event.title %></b><br>
                <%= event.start_date.try(:strftime, "%A, %B %e, %Y") %>
                  <% if event.end_date > event.start_date %>
                    - <%= event.end_date.try(:strftime, "%B %e, %Y") %>
                  <% end %><br>
                <%= event.start_time.try(:strftime, "%l:%M %p") %> - <%= event.end_time.try(:strftime, "%l:%M %p") %></li>
                <% end %>
            </ul>
          </div>
        </div>
      </div>


<p class="text-center">
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_gallery_path(@gallery),class: "btn btn-warning" %>
  <% end %>
    <%= link_to 'All Galleries', galleries_path, class: "btn btn-primary" %>
  <% if admin_signed_in? %>
      <%= link_to 'Delete', @gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
</p>
</p>
<br>
<br>


</div>
