<div class="container">
  <hr>

  <div class="row">
    <div class="col-md-6 col-xs-6-push">
      <%= image_tag(@gallery.thumbnail.url(:medium), class: "img-responsive") %>
    </div>
    <div class="col-md-6 col-xs-6-pull">
      <p class="page-title">Gallery</p><br>
      <h1><%= @gallery.gallery_name %></h1>
        <p class="lead-text"><em><%= @gallery.medium %></em></p><br>
        
        <%= @gallery.address %><br>
        <%= @gallery.city %>, <%= @gallery.state %> <%= @gallery.zip %><br>
        <%= @gallery.phone %><br>
        <br>
        <p>Owner/Operator: <%= @gallery.owner_operator %></p>
        <br>
        <%= link_to "Visit Website", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <%= link_to "Email Gallery", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        
        <br>
        <% unless @gallery.hours.blank? %>
          <h4>Hours:</h4>
          <%= markdown(@gallery.hours) %>
        <% end %>
        <br>
        <p><%= markdown(@gallery.description) %></p><br>
    </div>
  </div>
  <br>
  <br>
</div>

<div>

<% if @gallery.exhibitions.any? %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <h3 class="panel-title">Exhibitions</h3>
    </div>
    <div class="panel-body">
      <div class="row">
      <div class="col-md-3">
        <!-- Nav tabs -->
        <ul class="nav nav-pills gray nav-stacked" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Current & Upcoming</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Past</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <% if @upcoming_exhibitions.any? %>
              <% @upcoming_exhibitions.each do |exhibition| %>
                <div class="row">
                  <div class="col-md-5">
                    <%= image_tag(exhibition.exhibition_thumbnail.url(:small), class: "img-responsive", width: "100%") %>
                  </div>
                  <div class="col-md-7">
                    <p class="date">
                      <% if exhibition.end_date > Date.today + 4.month %>
                        Ongoing
                      <% else %> 
                        <%= exhibition.start_date.try(:strftime, "%B %e") %> - <%= exhibition.end_date.try(:strftime, "%B %e, %Y") %>
                      <% end %>
                    </p>
                    <h3><%= link_to exhibition.title, exhibition %><br></h3>
                    <p><%= truncate exhibition.description, length: 675 %></p>
                    <p><%= link_to 'More About Exhibition', exhibition, class: "btn btn-primary" %>
                  </div>
                </div>
                <hr>
              <% end %>
            <% else %> 
              <p>There are no scheduled exhibitions at this time.</p>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <% if @past_exhibitions.any? %>
              <% @past_exhibitions.each do |exhibition| %>
                <div class="row">
                  <div class="col-md-5">
                    <%= image_tag(exhibition.exhibition_thumbnail.url(:small), class: "img-responsive", width: "100%") %>
                  </div>
                  <div class="col-md-7">
                    <p><%= exhibition.start_date.try(:strftime, "%B %e") %> - 
                    <%= exhibition.end_date.try(:strftime, "%B %e, %Y") %></p>
                    <h3><%= link_to exhibition.title, exhibition %><br></h3>
                    <p><%= truncate exhibition.description, length: 675 %></p>
                    <p><%= link_to 'More About Exhibition', exhibition, class: "btn btn-primary" %>
                  </div>
                </div>
                <hr>
              <% end %>
            <% else %>
              <p>There are no previous exhibitions.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
<div>
<% end %>

<div class="container">
<% if admin_signed_in? %>
  <%= link_to "Add New Exhibition", new_exhibition_path(gallery_id: @gallery) %>
<% end %>
</div>
  

<p class="text-center">
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_gallery_path(@gallery),class: "btn btn-warning" %>
  <% end %>
    <%= link_to 'All Galleries', galleries_path, class: "btn btn-primary" %>
  <% if admin_signed_in? %>
      <%= link_to 'Delete', @gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
</p>
</p>

