<div class="container">
  <h2 class="page-title"></h2><br>
  <hr>

  <div class="row">
    <div class="col-sm-6">
      <h1 class="display-1"><%= @gallery.gallery_name %></h1>
        <p class="lead-text"><em><%= @gallery.medium %></em></p><br>
        
        <%= @gallery.address %><br>
        <%= @gallery.phone %><br>
        <br>
        <%= link_to "Visit Website", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <%= link_to "Email Gallery", url_with_protocol(@gallery.website), class: "btn btn-success btn-sm sharp", :target => '_blank' %>
        <br>
        <br>
        <p><%= markdown(@gallery.description) %></p><br>
        <p>Owner/Operator: <%= @gallery.owner_operator %></p>
    </div>
    <div class="col-sm-6">
      <%= image_tag(@gallery.thumbnail.url(:medium), class: "img-responsive") %>
    </div>
  </div>
  <br>
  <br>




<p class="text-center">
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_gallery_path(@gallery),class: "btn btn-warning" %>
  <% end %>
  <%= link_to 'All Galleries', galleries_path, class: "btn btn-primary" %></p>
</p>
<br>
<br>


</div>
